mixin figureTitle(title,imgSrc,imgAlt)
    h2.figureTitle #{title}
    img.figureImg(src=imgSrc, alt=imgAlt)

mixin form(text, inputID)
    label.form__label(for=inputID) #{text}
    input.form__input(id=inputID, type="number")

mixin buttonCalc(text, onClick)
    button.buttonCalc(type="button", onclic=onClick) #{text} 


main.mainTriangle
    section.mainTriangle__title
        +figureTitle("Area y Perimetro del Triangulo", "/Matematicas/assets/triangle-img.svg", "Triangle image")
        

    section.mainTriangle__area 
        h3.mainTriangle__area--h3 Area

        form.mainTriangle__area-form(action="")
            
            +form("Base:", "InputBase")
            +form("Altura:", "InputHeight")
            
            +buttonCalc("Calcular", "")

            p.mainTriangle__area-form-p#ResultArea 

    section.mainTriangle__perimeter 
        h3.mainTriangle__perimeter--h3 Perimetro

        form.mainTriangle__perimeter-form(action="")

            +form("Lado A:", "InputA")
            +form("Lado B:", "InputB")
            +form("Lado C:", "InputC")
            
            +buttonCalc("Calcular", "")

            p.mainTriangle__perimeter-form-p#ResultPerimeter                    
